[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sensorLeak"]
	path = sensorLeak
	url = https://github.com/division55/sensorleak
